.dashboard {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows:1fr 1fr ;
    gap: 20px;
    margin-left: 15px;
  }

.soil-moisture{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.light{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.light-chart{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.moisture-chart{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}